
<div class="form-row">
  <label class="styled-label centered-label">
    Pays : {{countryName}}
  </label>
</div>

<div class="form-row">
  <label class="styled-label">
 <span class="label-title"> Number of entries</span> <br>
   <strong>{{totalEntries}}</strong>
</label>
 <label class="styled-label">
  <span class="label-title">Total number medals </span><br>
   <strong>{{totalMedalsCount}}</strong>
</label>
<label class="styled-label">
  <span class="label-title">Total number of athletes</span> <br>
   <strong>{{totalAthletes}}</strong>
</label>
</div>

<ngx-charts-line-chart
  [scheme]="'vivid'"
  [results]="lineData"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="false"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Année'"
  [yAxisLabel]="'Médailles'"
  [autoScale]="true"
  [animations]="false">
</ngx-charts-line-chart>


<button (click)="goHome()">🏠 Retour à l'accueil</button>