
<div class="form-row">
  <label class="styled-label centered-label">
    Pays : {{countryName}}
  </label>
</div>

<div class="form-row">
  <label class="styled-label">
  Number of entries {{totalEntries}}
</label>
 <label class="styled-label">
  Total number medals {{totalMedalsCount}}
</label>
<label class="styled-label">
  Total number of athletes {{totalAthletes}}
</label>
</div>

<ngx-charts-line-chart
  [scheme]="'vivid'"
  [results]="lineData"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="false"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Année'"
  [yAxisLabel]="'Médailles'"
  [autoScale]="true"
  [animations]="false">
</ngx-charts-line-chart>


<button (click)="goHome()">🏠 Retour à l'accueil</button>