<h2>Olympic games app</h2>
<hr />

<div class="form-row">
  <label class="centered-label">
    Number of JOs {{numberOfOlympics$ | async}} 
  </label>

  <label class="centered-label">
    Number of countries {{ numberOfCountries$ | async }}
  </label>
</div>


<ng-container *ngIf="multi$ | async as multi">
   <div class="chart-container">
  <ngx-charts-pie-chart 
    [results]="multi"
    [legend]="true"
    [legendPosition]="below"
    [labels]="true"
    [doughnut]="false"
    [explodeSlices]="false"
    (select)="onSelect($event)"
    [gradient]="true">
  </ngx-charts-pie-chart>
</div>
</ng-container>

