
<div  class="form-row">
  <label class="centered-label-header">
   Medals per Country
  </label>
</div>
<div class="form-row">
  <label class="centered-label">
    <span class="label-title">Number of JOs</span><br>
     <strong>{{numberOfOlympics$ | async}} </strong>
  </label>

  <label class="centered-label">
    <span class="label-title">Number of countries</span><br>
      <strong>{{ numberOfCountries$ | async }}</strong>
  </label>
</div>


<ng-container *ngIf="multi$ | async as multi">
   <div class="chart-container">
  <ngx-charts-pie-chart 
    [results]="multi"
    [legend]="true"
    [legendPosition]="legendPosition"
    [labels]="true"
    [doughnut]="false"
    [explodeSlices]="false"
    (select)="onSelect($event)"
    [gradient]="true">
  </ngx-charts-pie-chart>
</div>
</ng-container>

